@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  @apply shadow-lg shadow-indigo-500/100 dark:shadow-indigo-500/50;
}
.icon-box {
  @apply cursor-pointer p-1 rounded-md border border-gray-800 hover:text-orange-500 custom-shadow;
}
.icon-box-bg {
  @apply bg-gradient-conic dark:from-indigo-800 dark:via-gray-900 dark:to-indigo-800 from-indigo-400 via-gray-600 to-indigo-400 border-none;
}
.icon-box-animation {
  @apply bg-gradient-radial from-indigo-800 via-gray-900 to-indigo-400 bg-1000% animate-gradient-move;
}
.header-gradient {
  @apply bg-gradient-to-br from-slate-900 to-indigo-900 dark:from-slate-300 dark:to-indigo-700 bg-clip-text text-transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.backgroundContainer {
  position: relative;
  z-index: 1;
}

.backgroundContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./opengraph-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px) opacity(0.9);
  opacity: 0.1;
  z-index: -1;
}
